<ul class="nav">
    {#GENERAL#}
    <li class="nav-item nav-category">
        <span class="nav-link">GENERAL</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('dashboard') }}">
            <span class="menu-title">Dashboard</span>
            <i class="icon-speedometer menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('description_general') }}">
            <span class="menu-title">Description General</span>
            <i class="icon-speedometer menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('backend_contact') }}">
            <span class="menu-title">Contact</span>
            <i class="icon-wrench menu-icon"></i>
        </a>
    </li>
    {#Project#}
    <li class="nav-item nav-category">
        <span class="nav-link">PROJECT</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('new_projet') }}">
            <span class="menu-title">Nouveau Projet</span>
            <i class="icon-grid menu-icon"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('liste_projet') }}">
            <span class="menu-title">Mes Projets</span>
            <i class="icon-grid menu-icon"></i>
        </a>
    </li>

    {#DONNÉES PERSONNELLES#}
    <li class="nav-item nav-category">
        <span class="nav-link">DONNÉES PERSONNELLES</span>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('liensociaux_index') }}">
            <span class="menu-title">Liens Sociaux</span>
            <i class="icon-grid menu-icon"></i>
        </a>
    </li>
</ul>